.layout {
  width: 80%;
  height: 300px;
  margin: 20px auto;
  border-collapse: collapse;
}

.layout td {
  border: 2px solid green;
}

/* Colors */
.green {
  background-color: #4CAF50;
  height: 60px;
}

.blue {
  background-color: #5DADE2;
  height: 100px;
}

.gray {
  background-color: #D5DBDB;
}

.yellow {
  background-color: #F7DC6F;
}

.white {
  background-color: #ECF0F1;
  height: 100px;
}
